# This is an example environment file for the server application.

# Backend API port
PORT=3000
# Backend MongoDB connection URL
URL=your_mongodb_connection_url
# Google OAuth 2.0 credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=yout_google_client_secret
# Frontend URL
FRONTEND_URL=http://localhost:5173
# JWT keys for authentication
JWT_ACCESS_KEY=your_jwt_access_key
JWT_REFRESH_KEY=your_jwt_refresh_key
JWT_GOOGLE_KEY=your_jwt_google_key